.instructContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructContainer p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: #545252;
}

.instructContainer h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4.2rem;
  color: #212121;
  font-weight: 700;
  margin-bottom: 10rem;
}

.instructContainerCards {
  display: flex;
  flex-wrap: wrap;
  max-width: 131rem;
  gap: 3rem;
}

.instructContainerCard {
  position: relative;
}

.instructContainerCard span {
  position: absolute;
  bottom: 2rem;
  left: 6rem;
  color: #212121;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1.2rem #21212198;
  padding: 0.8rem 3rem;
  border-radius: 0.4rem;
}
