* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;
    margin-bottom: 100rem;
    background-color: #E0E0E0;
    overflow-x: hidden;
}

#active {
    background-color: var(--color-blue);
    border-radius: .3rem;
    color: #fff;
    padding: .7rem 4.1rem;
}